@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap");



body{                               /*page Margin*/
    background:content-box radial-gradient(rgb(243, 207, 212), rgb(206, 227, 236));
     font-size: 1rem;
       margin-top: 0.5%;;
       margin-bottom: 0.8%;
       margin-left: 4%;
       margin-right: 5%;
       padding: 0.5%;
       width: 100%;
        
    }

h1
   {                                 /*Name in Engish*/
    color: rgb(124, 11, 230);
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    font-size: 1.5em;
  }
  
    h2 
   {                          /*Name in Marathi(other language)*/
    font-family: 'Noto Sans Devanagari', sans-serif;
    
    font-size: 0.8em;
    font-style:italic;
    text-align: left; 
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
   }

    .circle-img img 
  {
  width: 10%;
  box-shadow: 10px 10px 20px  rgb(75, 63, 63); /* shadow around circle */
  display: block;
}



.navBar
 {

background-color: rgb(56, 49, 49);
padding: 0.1%;
margin-left: 0.2%;
width: 100%;


    
}

.navBar nav ul        /* Navigation bar displayed as flex (vertically) */
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
gap:5%
   
}

.navBar nav ul li a 
{
  display: block;
  padding: 10px 15px;
  color:white;
}


.navBar nav ul li a:hover
 {
  background-color: rgb(71, 63, 63);
  width:100%
 }

img
{
    width: 110px;
}
.my_links{
      display: flex;
      gap:50px;
      
}

 #About{
    color: rgb(73, 45, 45);
 }   
p{
    color: rgb(111, 13, 13);
}
li{
    color: rgb(2, 2, 91);
}

h3{ 
    color: black;                            /*about*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.highlight{
    margin-top: 2%;
    margin-right: 0.2%;
    margin-bottom: 20%;
    
}
h5{                            /*Highlight*/
    color: rgb(23, 8, 8);
    font-size: large;
}
p{
  margin-left: 5%;
  margin-right: 10%;
  padding: 1%;
}
.experience
{
 
  margin-right: 2%;
  margin-top: 1%;
  margin-left: 4%;
  display:grid; 
  
                      /* Applyed grid on experience section*/
  grid-template-columns: 70%  25%;
  grid-template-rows: 20%  25%;
  
  overflow:auto;
  gap: 10%;
  padding: 0.4%;
  border: 1px solid grey;
  background-color: rgb(241, 222, 222);
    
}
.job_titles{
   margin-top: 1%;
   margin-left: 1%;
   color: black;
}
.job_Dates{
  margin-top:15%;
  margin-right: 8%;
}
                      /*media qurey  for tablets and mobile devices */


 @media (max-width: 768px) {
h1 
{
     font-size: 1em;
     color: rgb(0, 195, 255);
     text-align: center;

     
}
.my_links 
{
    flex-direction: column;
     font-size: 0.15%;
     
     gap: 0.15%;  
}
.experience
    {
       grid-template-columns: 1fr; 
       grid-template-rows: auto;
     }
.navBar nav ul 
     {
        gap:0.5%;
      }

.navBar nav ul li a 
     {
       justify-content: space-between;
  
     }

  }
                  /*media qurey  for desktops,laptops or monitors devices */

    @media (min-width:1275px){
   h1 
    {
     font-size: 2em;
     color: rgb(255, 0, 208);
     text-align: center;
    }

   .my_links ul 
{
    flex-direction: row;
     font-size: larger;
     align-items: center;
     gap: 40px;  
}
.experience
 {
     grid-template-columns: 1fr; 
     grid-template-rows: auto;
  }
    }
    



